* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #3868d6;
    color: white;
    padding: 8px;
    margin-bottom: 30px;
}

nav ul a {
    list-style: none;
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

header h1 {
    font-size: 2.5em;
    font-style: italic;
}

body {
    background-color: lightgray;
}

#sobre {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 30px;
}

#sobre h2 {
    font-size: 1,5em;
}

#sobre h1,
#loja h1 {
    font-size: 2em;
    font-style: italic;
    color: #1952d6;
    margin-bottom: 30px;
    border-bottom: 2px solid #1952d6;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
}

.produto img {
    width: 100%;
    height: auto;
}

.produto h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.produto h4 {
    margin-bottom: 10px;
    color: rgb(48, 48, 48);
}

.produto button {
    cursor: pointer;
    color: white;
    background-color: #1952d6;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px 17px;
    border-radius: 5px;
}